<mat-card>
    <form (submit)='onCreateTraining(createTrainingForm)' #createTrainingForm="ngForm">
        <mat-card-title>Create a new training </mat-card-title>
        <mat-form-field>
            <input matInput name="name" ngModel type="string" required minlength=3  #nameInput="ngModel"
                placeholder="Training name">
            <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="duration" ngModel type="number" required #durationInput="ngModel"
                placeholder="Duration (in seconds)">
            <mat-error *ngIf="durationInput.invalid">Please enter an exercice duration.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="calories" ngModel type="number" required #caloriesInput="ngModel"
                placeholder="Calories burned (full exercise)">
            <mat-error *ngIf="caloriesInput.invalid">Please enter a valid number.</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="primary" [disabled]="createTrainingForm.invalid" type="submit">Create</button>
    </form>
</mat-card>